/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

header .welcome {
    z-index: 1;
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

header p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

header h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

header button {
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border: 2px solid white;
}

header img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: -7%;
}

@media(orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }
    header .welcome {
        top: 15%;
        left: 3%;
        right: 43%;
    }
    header button {
        margin-top: 20px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header .welcome {
        top: 16%;
    }
header p {
    font-size: 40px;
}

    header h1 {
        font-size: 20px;
    }
    header h2 {
        font-size: 20px;
    }
    header button {
        font-size: 15px;
    }
    header img {
        height: 90%;
        right: -10%;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    header p {
        font-size: 80px;
        margin-bottom: 40px;
    }
    header h1 {
        font-size: 45px;
    }
    header h2 {
        font-size: 45px;
    }
    header button {
        font-size: 30px;
        padding: 10px 30px;
        margin-top: 40px;
    }
    header img {
        right: -18%;
    }
}

@media (orientation: landscape) and (min-width: 812px) {
    header p {
        font-size: 50px;
        margin-bottom: 20px;
    }
    header h1 {
        font-size: 25px;
    }
    header h2 {
        font-size: 25px;
    }
    header button {
        font-size: 20px;
        padding: 5px 15px;
        margin-top: 20px;
    }
    header img {
        right: 0%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    header .welcome {
        top: 25%;
    }
    
    header p {
        font-size: 80px;
    }
    header h1 {
        font-size: 45px;
    }

    header h2 {
        font-size: 45px;
    }

    header button {
        font-size: 30px;
        padding: 10px 25px;
        margin-top: 50px;
    }

    header img {
        
        right: -22%;
        height: 85%;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    header img {
        height: 50%;
        bottom: 0;
        right: -7%;
    }
    header h1 {
        font-size: 23px;
    }
    header h2 {
        font-size: 23px;
    }
    header button {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (orientation: portrait) and (min-width: 375px) {
    header p {
        font-size: 40px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        font-size: 18px;
        padding: 5px 20px;
    }
    header img {
        right: -10%;
        height: 48%;
    }
}

@media (orientation: portrait) and (min-width: 411px) {
    header .welcome {
        top: 7%;
    }
    header p {
        font-size: 50px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button {
        font-size: 22px;
        padding: 8px 5px;
    }
    header img {
        right: -10%;
    }
}

@media (orientation: portrait) and (min-width: 540px) {
    header img {
        right: 10%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header .welcome {
        top: 10%;
    }
    header p {
        font-size: 70px;
    }
    header h1 {
        font-size: 45px;
    }
    header h2 {
        font-size: 45px;
    }
    header button {
        font-size: 32px;
        padding: 15px 35px;
    }
    header img {
        right: 2%;
    }
}