/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header .welcome {
    z-index: 1;
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
}

header p {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

header h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

header h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.scroll {
    display: inline-block;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: #29a6dc;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    border: 2px solid white;
    text-decoration: none;
}

header img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: -7%;
}

@media (orientation: portrait) and (min-width: 360px) {
    header img {
        height: 50%;
        bottom: 0;
        right: -7%;
    }
    header h1 {
        font-size: 23px;
    }
    header h2 {
        font-size: 23px;
    }
     .scroll {
        font-size: 18px;
        margin-top: 20px;
    }
}

@media (orientation: portrait) and (min-width: 375px) {
    header p {
        font-size: 40px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    .scroll {
        font-size: 18px;
        padding: 5px 20px;
    }
    header img {
        right: -10%;
        height: 48%;
    }
}

@media (orientation: portrait) and (min-width: 411px) {
    header .welcome {
        top: 7%;
    }
    header p {
        font-size: 50px;
    }
    header h1 {
        font-size: 28px;
    }
    header h2 {
        font-size: 28px;
    }
    header button, .scroll {
        font-size: 22px;
        padding: 8px 5px;
    }
    header img {
        right: -10%;
    }
}

@media (orientation: portrait) and (min-width: 540px) {
    header img {
        right: 10%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header .welcome {
        top: 10%;
    }
    header p {
        font-size: 70px;
    }
    header h1 {
        font-size: 45px;
    }
    header h2 {
        font-size: 45px;
    }
    .scroll {
        font-size: 32px;
        padding: 15px 35px;
    }
    header img {
        right: 2%;
    }
}

@media(orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }
    header .welcome {
        top: 15%;
        left: 3%;
        right: 43%;
    }
    .scroll {
        margin-top: 20px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header .welcome {
        top: 16%;
    }
    header p {
        font-size: 40px;
    }
    header h1 {
        font-size: 20px;
    }
    header h2 {
        font-size: 20px;
    }
    .scroll {
        font-size: 15px;
    }
    header img {
        height: 90%;
        right: -10%;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    header p {
        font-size: 80px;
        margin-bottom: 40px;
    }
    header h1 {
        font-size: 45px;
    }
    header h2 {
        font-size: 45px;
    }
     .scroll {
        font-size: 30px;
        padding: 10px 30px;
        margin-top: 40px;
    }
    header img {
        right: -18%;
    }
}

@media (orientation: landscape) and (min-width: 812px) {
    header p {
        font-size: 50px;
        margin-bottom: 20px;
    }
    header h1 {
        font-size: 25px;
    }
    header h2 {
        font-size: 25px;
    }
    .scroll {
        font-size: 20px;
        padding: 5px 15px;
        margin-top: 20px;
    }
    header img {
        right: 0%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header .welcome {
        top: 30%;
        left: 5%;
        text-align: left;
    }
    header p {
        font-size: 70px;
    }
    header h1 {
        font-size: 35px;
    }
    header h2 {
        font-size: 35px;
    }
    .scroll {
        font-size: 25px;
        padding: 10px 25px;
        margin-top: 50px;
    }
    header img {
        right: -15%;
        height: 75%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    header .welcome {
        top: 16%;
        text-align: left;
        left: 10%;
    }
    header p {
        font-size: 85px;
    }
    header h1 {
        font-size: 40px;
        margin-top: 10px;
    }
    header h2 {
        font-size: 40px;
    }
    header img {
        height: 95%;
        right: -20%;
    }
    .scroll {
        font-size: 25px;
        margin-top: 30px;
        padding: 20px 30px;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header .welcome {
        left: 10%;
    }
    header p {
        font-size: 120px;
    }
    header h1 {
        font-size: 60px;
        margin-top: 20px;
    }
    header h2 {
        font-size: 60px;
        
    }
    header img {
        height: 95%;
        right: -9%;
    }
    .scroll {
        font-size: 36px;
        margin-top: 30px;
        padding: 30px 30px;
    }
}

@media (min-width: 1024px) {
     .scroll {
        transition: 0.3s;
    }
    .scroll:hover {
        background-color: white;
        color: #111111;
        border: 2px solid black;
        cursor: pointer;
    }
}

/* Sekcja 1 nasze cechy */

.features {
    margin: 50px auto 0;
    max-width: 1600px;
    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.feature h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.feature img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

.feature p {
    font-family: 'Saira', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 20px 0;
}

@media (min-width:360px) {
    .features h1 {
        font-size: 30px;
    }
    .feature h2 {
        font-size: 23px;
    }
}

@media (min-width: 768px) {
    .features h1 {
        font-size: 50px;
    }
    .feature h2 {
        font-size: 35px;
    }
    .feature p {
        font-size: 23px;
    }
}

@media (min-width: 1024px) {
    .feature {
        float: left;
        width: 33%;
        padding: 17px;
    }
    .features h2 {
        font-size: 22px;
    }
    .features p {
        font-size: 16px;
        padding: 10px;
    }
}

@media (min-width: 1600px) {
    .feature {
        padding: 60px 40px;
    }
    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 31px;
    }
    .features p {
        font-size: 21px;
        padding: 30px 0;
        line-height: 120%;
    }
}

/*sekcja portfolio*/

.portfolio {
    background-color: black;
    padding: 0 0 20px;
}

.portfolio h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 15px;
}

.web img {
    width: 100%;
}

.portfolio .about {
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0;
    text-align: left;
}

.portfolio .about h2 {
    font-size: 18px;
    border-bottom: 1px solid white;
    margin-bottom: 12px;
    padding-bottom: 18px;
    text-transform: uppercase;
    text-indent: 20px;
}

.portfolio .about p {
    font-size: 10px;
    padding-left: 20px;
    line-height: 120%;
}

.portfolio .project {
    max-width: 1400px;
    margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: orange;
}

.portfolio .project:nth-of-type(even) {
    background-color: #0170ba;
}

@media (min-width: 768px) {
    .portfolio h1 {
        font-size: 40px;
    }
    .portfolio .about h2 {
        font-size: 32px;
        text-indent: 40px;
    }
    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 150%;
    }
    .portfolio .project {
        margin-bottom: 40px;
    }
}

@media (orientation: landscape) {
    .web, .about {
        width: 50%;
        float: left;
    }
    .web img {
        display: block;
    }
    .project:nth-of-type(even) .web {
        float: right;
    }
    .project:nth-of-type(even) .about {
        padding-right: 0;
    }
    .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }
    .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}

@media (orientation:landscape) and (min-width: 812px) {
    .portfolio .about p {
        font-size: 17px;
        padding-left: 40px;
        line-height: 110%;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }
    .portfolio .about h2 {
        padding-top: 50px;
        margin-bottom: 30px;
    }
    .portfolio .about p {
        font-size: 22px;
        padding-left: 40px;
        line-height: 180%;
    }
    .portfolio .project {
        margin-bottom: 40px;
    }
}

/*sekcja motto*/

.slogan {
    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
}

.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.slogan p {
    font-family: 'Saira' sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slogan p.autor {
    font-size: 12px;
}

.slogan .bg {
    background-color: #003f7280;
    padding: 30px 10px;
}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (orientation: portrait) {
    .slogan .bg {
        padding: 30px 20px;
    }
}

@media (min-width: 768px) {
    .slogan h1 {
        font-size: 40px;
        margin-bottom: 35px;
    }
    .slogan p {
        font-size: 20px;
        margin-bottom: 40px;
        letter-spacing: 1px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .slogan p.author {
        font-size: 15px;
    }
    .slogan .bg {
        padding: 50px 30px 10px 30px;
    }
}

@media (min-width: 1600px) {
    .slogan h1 {
        font-size: 60px;
        margin-bottom: 300px;
        margin-top: 200px;
    }
    .slogan p {
        font-size: 48px;
        margin-bottom: 60px;
        letter-spacing: 1px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .slogan p.author {
        font-size: 24px;
        margin-bottom: 200px;
    }
    .slogan .bg {
        padding: 100px 30px 60px 30px;
    }
}

/*sekcja hobby*/

.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p {
    width: 100%;
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    /* line-height: 25vh; */
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 5px 0;
    top: 154px;
}

.hobby h1 {
    padding: 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
    .hobby .item {
        position: relative;
    }
    .hobby .item p {
        position: absolute;
        top: 36%;
    }
}

@media (min-width: 768px) {
    .hobby h1 {
        padding: 30px;
        font-size: 36px;
    }
    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        position: static;
        opacity: 0;
        transition: 1s;
    }
    .hobby .item:hover p {
        opacity: 1;
        cursor: pointer;
        backdrop-filter: blur(5px);
    }
    .hobby .item {
        background-size: 120%;
        transition: 1s;
    }
    .hobby .item:hover {
        background-size: 160%;
    }
}

@media (min-width: 1600px) {
    .hobby h1 {
        padding: 50px;
        font-size: 50px;
    }
    .hobby .item p {
        font-size: 40px;
    }
}

/*sekcja contact*/

.contact {
    background-color: black;
    padding: 30px 20px;
}

.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input, .contact button, .contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'saira', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.contact input {
    height: 36px;
}

.contact textarea {
    height: 120px;
}

.contact button {
    line-height: 40px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {
    padding: 10px 0;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
}

.contact .socials img {
    float: left;
    padding-left: 10px;
}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 17px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 768px) {
    .contact h1 {
        font-size: 45px;
    }
    .contact input, .contact button, .contact textarea {
        margin-bottom: 25px;
        font-family: 'saira', sans-serif;
        font-size: 22px;
        padding: 10px;
    }
    .contact button {
        font-size: 24px;
    }
    .contact .social span {
        padding-left: 10px;
        font-size: 20px;
        letter-spacing: 1px;
    }
}

@media (min-width: 1024px) {
    .contact form, .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }
    .contact .social {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
    .contact input, .contact button, .contact textarea {
        margin-bottom: 35px;
    }
    .contact input {
        height: 46px;
        font-size: 24px;
    }
    .contact textarea {
        height: 180px;
        font-size: 24px;
    }
    .contact button {
        line-height: 50px;
        font-size: 20px;
        transition: 0.3s;
    }
    .contact button:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

/*footer*/

footer {
    background-color: #29a9df;
    color: white;
    font-family: 'saira', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

@media (min-width: 320px) {
    footer {
        font-size: 11px;
        padding: 10px 20vw;
    }
}

@media (min-width: 768px) {
    footer {
        font-size: 20px;
        padding: 15px 20vw;
    }
}